body {
    background: #AAEFDE;
    background: -webkit-linear-gradient(to top, #d7d2cc, #AAEFDE);
    background: linear-gradient(to bottom, #d7d2cc, #AAEFDE);
    font-family: 'Segoe UI', 'Montserrat', sans-serif;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
    justify-content: center;
}
.aks-image {
    height: 245px;
    border-radius: 50%;
}
.name {
    color: #304352;
    font-size: 3em;
    margin-bottom: 20px;
}
.get-in-touch {
    padding-inline-start: 0;
    margin-top: 0;
}
.get-in-touch li {
    display: inline-block;
    padding: 0 5px;
}
.fa {
    color: #304352;
}
footer {
    position: absolute;
    bottom: 0;
}
blockquote {
    text-align: center;
    font-family: 'Rochester', cursive;
    width: 100vw;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1.3em;
}
/* blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
} */